@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.v-list-item--nav .v-list-item-title {
    font-size: 20px !important;
    line-height: 40px;
}